/* HEADER */
.navbar {
    margin: 10px;
    background-color: transparent !important;
    border: none;
}

.btn-custom {
    color: white;
    background-color: #0875E2;
    border-color: #0875E2;
}

.btn-custom:hover {
    background-color: #112943;
    border-color: #112943;
    color: white;
}


/* JUMBOTRON */

#scrollToNext {
    cursor: pointer;
}

.jumbotron {
    margin: 100px 50px 300px 50px;
}

h1 {
    font-size: 30px !important;
    font-weight: 400 !important;
}


.homepageMockup, .viewTicket {
    max-width: 80%; 
    height: auto;
    padding-bottom: 50px;
}

#jumbotron1 {
    margin-top: 150px;
}

#jumbotron2, #jumbotron3 {
    margin-bottom: 100px; 
}

#jumbotron4 {
    margin-bottom: 0; 
}

/* FOOTER */

.footer {
    background-color: #DAE8F8;
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unlock {
    text-align: center;
}

.appStore {
    height: auto;
    width: 30%;
    max-width: 200px;
}