body {
    font-family: 'Lato', sans-serif;
}

/* HEADER */
.navbar {
    margin: 10px;
    background-color: transparent !important;
    border: none;
}

.btn-custom {
    color: white;
    background-color: #0875E2;
    border-color: #0875E2;
}

.btn-custom:hover {
    background-color: #112943;
    border-color: #112943;
    color: white;
}


/* JUMBOTRON */

#scrollToNext {
    cursor: pointer;
    color: #A02E7E;
}

.jumbotron {
    margin: 100px 50px 300px 50px;
}

h1 {
    font-size: 30px !important;
    font-weight: 400 !important;
}


.homepageMockup, .viewTicket {
    max-width: 80%; 
    height: auto;
    padding-bottom: 50px;
}

#jumbotron1 {
    margin-top: 150px;
}

#jumbotron2 h1 {
    color: #803290;;
}

#jumbotron2 p {
    color: #803290;
    width: 90%;
}

#jumbotron2, #jumbotron3 {
    margin-bottom: 100px; 
}

#jumbotron3 p {
    color: #112943;
    width: 90%;
}

#jumbotron4 {
    margin-bottom: 0; 
}

#jumbotron4 h1 {
    color: #803290;
}

#jumbotron4 p {
    color: #803290;
    width: 90%;
}

#jumbotron5 {
    margin-bottom: 100px;
}

#jumbotron5 h1 {
    color: #112943;
}

#jumbotron5 p {
    color: #112943;
    width: 90%;
}

/* background color testing area */


/* CAROUSEL REVIEWS */
.review-title {
    text-align: center;
}

.review-title h1, .review-title h3 {
    font-family: 'Lato', sans-serif;
}

.review-title h1 {
    font-size: 50px;
    font-weight: bold; 
    margin: 5px;
}

.review-title h3 {
    font-size: 16px; 
    font-weight: 500; 
    margin-bottom: 20px;
}

.carousel-fade .carousel-item {
    transition: opacity .6s ease-in-out;
    opacity: 0;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
    opacity: 1;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s;
}

.reviewSection {
    margin: 30px;
    margin-bottom: 200px;
}


/* FOOTER */

.footer {
    background-color: #DAE8F8;
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unlock {
    text-align: center;
}

.appStore {
    height: auto;
    width: 30%;
    max-width: 200px;
    cursor: pointer;
    margin: 30px;
}

.partneredicons {
    display: flex;
    justify-content: center;
}

.partneredicons img {
    height: auto;
    width: 40%;
    margin: 20px;
}